header {
  width: 100%;
  height: 69px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid $color;
  background-color: $background-color;
  img {
    height: 50px;
    margin-left: 10px;
  }
  .navLinks a {
    color: $color;
    margin-right: 10px;
  }
}
